* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 12px Helvetica, Arial; }
form { background: #000; padding: 1px; width: 100%; }
form input { border: 0; padding: 4px; width: 94%; margin-right: .5%; }
form button { width: 5%;}
#messages { list-style-type: none; margin: 0; padding: 0; align=left; word-wrap: break-word;}
#messages li:nth-child(odd) { background: #eee; }
#users { list-style-type: none; margin: 0; padding: 0; display:inline; align=left;}
#users li:nth-child(odd) { background: #eee; }  