<style>
 header('Content-type: text/css');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
    body {
        font: 14px Helvetica, Arial;
        margin-right: auto;
        margin-left:  auto;
        max-width: 960px;
        padding-right: 10px;
        padding-left:  10px;
    }
    
    form {
        background: #000;
        padding: 1.5px;
        width: 100%;
        position: sticky;
        top: 8px;
    }
    
    form input {
        display: inline-block;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: auto;
        padding-left:  auto;
        height: 16px;
        width: calc(100% - 78px);
        position: sticky;
        top: 8px;
    }
    
    form button {
      height: 22px;
      padding: 1px;
      margin: 1px;
    }
    
    form button#typetoggle{
      padding: 4px;
      width: 22px;
      height: 22px;
      background-image: url("/greenbutton.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    #currenttype {
        list-style-type: none;
        margin: 0;
        padding-left: 4px;
        align=left;
    }
    
    #messages {
        list-style-type: none;
        color: #2B2B2B;
        margin: 0;
        padding-left: 4px;
        align=left;
        word-wrap: break-word;
    }
    
    #users {
        list-style-type: none;
        margin: 0;
        padding: 4px;
        display: inline;
        align=left;
    }
    
    #users li:nth-child(odd) {
        background: #eee;
    }
</style>
