<style>
 header('Content-type: text/css');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  
    body {
        font: 14px Helvetica;
        margin-right: auto;
        margin-left:  auto;

        max-width: 960px;
        padding-right: 10px;
        padding-left: 10px;
        line-height: 1.6;
    }
    
    li{
    list-style-type: none;
    }
    

    
    form {
        background: #000;
        padding: 1.5px;
        width: 100%;
        position: sticky;
        top: 8px;
    }
    
    form input {
        display: inline-block;
        margin-top: 1px;
        margin-bottom: 1px;
        padding-right: auto;
        padding-left:  auto;
        height: 16px;
        width: calc(100% - 78px);
        position: sticky;
        top: 8px;
    }
    
    form button {
      height: 22px;
      padding: 1px;
      margin: 1px;
    }
    
    form button#livetoggle{
      padding: 4px;
      width: 22px;
      height: 22px;
      background-image: url("/png/greenbutton.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    #currenttype {
        list-style-type: none;
        margin: 0;
        padding-left: 4px;
        align: left;
    }
    
    #messages {
        margin: 0;
        padding-left: 4px;
        align: left;
        word-wrap: break-word;
    }
    
    #messages>li {
      white-space : pre;
    }
    
    #users {
        list-style-type: none;
        margin: 0;
        padding: 4px;
        display: inline;
        align: left;
        position: sticky;
        bottom: 12px;
    }    
    
    .fadein{
      animation-name: fadein;
      animation-duration: 1.5s;
    }
    
    @keyframes fadein{
      from{color: #696969;}
      to{color: #000000;}
    }

    .slidein{
      animation-name: slidein;
      animation-duration: .5s;
      overflow: hidden;
    }
    
    @keyframes slidein{
      from{
        transform: translateY(-10px);
        margin-bottom: -12px;
        opacity:0;
        }
      to{
        transform: translateY(0px);
        margin-bottom: 0px;
        opacity:1;
        }
    }
    
    .nobreak{
      display: inline;
    }

    .blipout{
      animation-name: blipout;
      animation-duration: .3s;
      overflow: hidden;
    }
    
    @keyframes blipout{
      from{
        transform: translateY(0px);
        margin-bottom: 0px;
        opacity:1;
        }
      to{
        transform: translateY(-10px);
        margin-bottom: -12px;
        opacity:0;
        }
      
    }
    
    
</style>
